---
http_interactions:
- request:
    method: get
    uri: http://www.sledsheet.com/api/v1/timesheets//255
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b3eb56d1f1989bddd0472c074c9050d3"
    body:
      encoding: UTF-8
      string: '{"id":255,"name":"Lake Placid National Championships Race 2015-16 Men","date":"2016-03-24T00:00:00.000Z","status":"open"}'
  recorded_at: Thu, 28 Jul 2016 19:18:10 GMT
recorded_with: VCR 3.0.3
